/* Components Start*/
:root {
    --primary-font-family: 'Inter', sans-serif;
    --primary-color: #16467D;
    --white-color: #ffffff;
    --black-color: #000000;
    --brown-color: #404040;
    --grey-color: #a9c6e2;
    --darkGrey-color: #DEDEDE;
}

html,
body {
    font-family: var(--primary-font-family);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font-family);
    font-weight: 700;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: inherit;
}

p {
    margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:focus-visible {
    outline: inherit;
}

::-webkit-scrollbar-track {
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.form-control {
    width: 95%;
}

/* Container Responsive Start */
.container-fluid {
    padding: 0 50px;
    margin: 0 auto;
}

@media screen and (max-width:767px) {
    .container-fluid {
        padding: 0 10px;
        margin: 0 auto;
    }
}

/* Container Responsive End */
.__primaryBtn {
    color: var(--white-color);
    text-transform: uppercase;
    width: max-content;
    /* letter-spacing: 2px; */
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 2rem;
    border: 1px solid var(--white-color);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.__primaryBtn:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.__secondaryBtn {
    color: var(--primary-color);
    text-transform: uppercase;
    width: max-content;
    /* letter-spacing: 2px; */
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 2rem;
    border: 1px solid white;
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.__secondaryBtn:hover {
    color: var(--white-color);
    border-color: var(--black-color);
    background-color: var(--black-color);
}

.__themeBtn {
    color: var(--white-color);
    text-transform: uppercase;
    width: max-content;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 2rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.__themeBtn:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

/* Components End*/

/* Header Styling Start */

/* Header Styling End */
.__bannerLocation {
    padding: 50px 0;
    background-image: url(../images/location/hero-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0 0;
}

.__hero .__content h1 {
    font-size: 55px;
    line-height: 65px;
    font-weight: 800;
    color: var(--white-color);
}

.__hero .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    color: var(--white-color);
}

.__hero .__sources {
    padding: 80px 0 60px;
}

.__bannerClient {
    background-color: #2c2c2c;
}

@media screen and (max-width:1350px) {
    .__hero .__content h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .__hero .__content p {
        font-size: 16px;
        line-height: 26px;
    }

    .__hero .__sources {
        padding: 60px 0;
    }
}

@media screen and (max-width:1199px) {
    .__hero .__content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .__hero .__content p {
        font-size: 15px;
        line-height: 25px;
    }

    .__hero .__sources {
        padding: 40px 0;
    }
}

@media screen and (max-width:991px) {
    .__hero .__content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .__hero .__content p {
        font-size: 14px;
        line-height: 24px;
    }

    .__hero .__sources {
        padding: 25px 0;
    }

    .__themeBtn {
        padding: 10px 0.5rem;
    }

    .__primaryBtn {
        padding: 10px 0.5rem;
    }

    .__secondaryBtn {
        padding: 10px 0.5rem;
    }
}

@media screen and (max-width:767px) {
    .__hero {
        padding: 130px 0 0;
    }

    .__hero .__content h1 {
        font-size: 24px;
        line-height: 34px;
    }

    .__themeBtn {
        padding: 10px 0.5rem;
        font-size: 14px;
    }

    .__primaryBtn {
        padding: 10px 0.5rem;
        font-size: 14px;
    }

    .__secondaryBtn {
        padding: 10px 0.5rem;
        font-size: 14px;
    }
}

@media screen and (max-width:575px) {
    .__hero {
        padding: 160px 0 0;
    }

    .__hero .__content h1 {
        font-size: 21px;
        line-height: 31px;
    }

    .__themeBtn {
        padding: 10px 0.5rem;
        font-size: 12px;
    }

    .__primaryBtn {
        padding: 10px 0.5rem;
        font-size: 12px;
    }

    .__secondaryBtn {
        padding: 10px 0.5rem;
        font-size: 12px;

    }
}

/* Section No 1 End With Responsive*/

/* Section No 2 Start With Responsive*/
.__freeQuote {
    background-color: #f1f1f1;
    padding: 50px 0;
}

.__freeQuote .__content h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
}

.__freeQuote form input {
    padding: 15px;
    border-radius: 0;
    box-shadow: 0 0 20px 0 #ddd;
    background: #fff;
    border: solid #a6a6a6;
}

.__freeQuote .__themeBtn {
    padding: 10px 6rem;
}

@media screen and (max-width:767px) {
    .__freeQuote {
        padding: 40px 0;
    }

    .__freeQuote .__content h2 {
        font-size: 38px;
        line-height: 48px;
    }

    .__freeQuote form input {
        margin: 0 0 10px;
    }

    .form-control {
        width: 100%;
    }

    .__freeQuote .__themeBtn {
        padding: 15px 0;
        width: 100%;
    }
}

@media screen and (max-width:575px) {
    .__freeQuote {
        padding: 20px 0;
    }

    .__freeQuote .__content h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

/* Section No 2 End With Responsive*/

/* Section No 3 Start With Responsive*/
.__ourLatestBooks {
    position: relative;
    padding: 50px 0;
}

.__ourLatestBooks .__content {
    padding: 0 0 30px;
}

.__ourLatestBooks .__content h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
}

.__ourLatestBooks .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
}

.__ourLatestBooks .__bookNow .__content h3 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
}

.__ourLatestBooks .__bookNow .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 10px;
}

.__ourLatestBooks .__bookNow .__content .__secondaryBtn {
    background-color: transparent;
    border-color: var(--primary-color);
}

.__ourLatestBooks .__bookNow .__content .__secondaryBtn:hover {
    background-color: var(--black-color);
}

.__ourLatestBooks .__bookNow .__ourBooks {
    position: relative;
}
.__ourBooks .slick-prev:after .__ourBooks .slick-next:after {
    content: "";
    background:transparent !important;
}
.__ourBooks .slick-next.slick-arrow{
    content: "";
    background:transparent !important;

}
.__ourBooks .slick-prev.slick-arrow{
    content: none;
    background:transparent !important;

}
.slick-next, .slick-prev{
    background-color: transparent;
}
.slick-prev:before {
    content: url(../images/location/arrowsR.png) !important;
}

.slick-next:before {
    content: url(../images/location/arrowsL.png) !important;
}

@media screen and (max-width:1199px) {
    .__ourLatestBooks {
        padding: 40px 0;
    }

    .__ourLatestBooks .__content h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .__ourLatestBooks .__content p {
        font-size: 15px;
        line-height: 25px;
    }

    .__ourLatestBooks .__bookNow .__content h3 {
        font-size: 45px;
        line-height: 55px;
    }

    .__ourLatestBooks .__bookNow .__content p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width:991px) {
    .__ourLatestBooks {
        padding: 30px 0;
    }

    .__ourLatestBooks .__content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .__ourLatestBooks .__bookNow .__content h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .__ourLatestBooks .__bookNow .__content p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width:767px) {
    .__ourLatestBooks .__content h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width:575px) {
    .__ourLatestBooks .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__ourLatestBooks .__bookNow .__content h3 {
        font-size: 25px;
        line-height: 35px;
    }
}

/* Section No 3 End With Responsive*/

/* Section No 4 Start With Responsive*/
.__professinolPublished {
    position: relative;
    background-image: url(../images/location/proffessinolbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.__professinolPublished .__content h2 {
    color: var(--white-color);
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
}

.__professinolPublished .__content p {
    color: var(--white-color);
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}

.__professinolPublished .__content .__secondaryBtn {
    padding: 10px 4rem;
}

.__professinolPublished .__content .__primaryBtn {
    padding: 10px 4rem;
}

@media screen and (max-width:1199px) {
    .__professinolPublished {
        padding: 80px 0;
    }
}

@media screen and (max-width:991px) {
    .__professinolPublished {
        padding: 60px 0;
    }

    .__professinolPublished .__content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .__professinolPublished .__content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .__professinolPublished .__content .__secondaryBtn {
        padding: 10px 2rem;
    }

    .__professinolPublished .__content .__primaryBtn {
        padding: 10px 2rem;
    }
}

@media screen and (max-width:767px) {
    .__professinolPublished {
        padding: 40px 0;
    }

    .__professinolPublished .__content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .__professinolPublished .__content p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .__professinolPublished .__content .__secondaryBtn {
        padding: 10px 1rem;
    }

    .__professinolPublished .__content .__primaryBtn {
        padding: 10px 1rem;
    }
}

@media screen and (max-width:575px) {
    .__professinolPublished .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__professinolPublished .__content p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
    }
}

/* Section No 4 End With Responsive*/

/* Section No 5 Start With Responsive*/
.__whyPublishing {
    position: relative;
    background-color: #f1f1f1;
    padding: 50px 0;
}

.__whyPublishing .__content {
    padding: 0 0 40px;
}

.__whyPublishing .__content h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
}

.__whyPublishing .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 10px;
}

.__whyPublishing .__card {
    border: 2px solid var(--primary-color);
    padding: 1.5rem 2.5rem;
    cursor: pointer;
}

.__whyPublishing .__card h5 {
    font-size: 25px;
    line-height: 35px;
    color: var(--primary-color);
    font-weight: 700;
}

.__whyPublishing .__card p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--black-color);
}

.__whyPublishing .__onHover {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

.__whyPublishing .__onHover:hover {
    opacity: 1;
}

@media screen and (max-width:1199px) {
    .__whyPublishing {
        padding: 40px 0;
    }

    .__whyPublishing .__content h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .__whyPublishing .__content p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width:991px) {
    .__whyPublishing .__content {
        padding: 0 0 20px;
    }

    .__whyPublishing .__content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .__whyPublishing .__content p {
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width:767px) {
    .__whyPublishing .__content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .__whyPublishing .__card h5 {
        font-size: 20px;
        line-height: 30px;
    }

    .__whyPublishing .__card p {
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width:575px) {
    .__whyPublishing .__card {
        padding: 1rem;
    }

    .__whyPublishing .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__whyPublishing .__card h5 {
        font-size: 18px;
        line-height: 28px;
    }

    .__whyPublishing .__content p {
        font-size: 14px;
        line-height: 24px;
    }

    .__whyPublishing .__card p {
        font-size: 14px;
        line-height: 24px;
    }

    .__whyPublishing .__content {
        padding: 0 0 10px;
    }
}

/* Section No 5 End With Responsive*/

/* Section No 6 Start With Responsive*/
.__sourceLinks {
    background-color: #2c2c2c;
    padding: 20px 0 15px;
}

.__whyChoose {
    position: relative;
    padding: 80px 0;
}

.__whyChoose .__content h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
    padding-bottom: 50px;
}

.__whyChoose .__content h5 {
    font-size: 40px;
    line-height: 50px;
    color: var(--primary-color);
    font-weight: 700;
}

.__whyChoose .__content p {
    font-size: 16px;
    line-height: 26px;
    color: var(--black-color);
    font-weight: 500;
    padding-bottom: 15px;
}

.__whyChoose .__content .__primaryBtn {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.__whyChoose .__content .__primaryBtn:hover {
    border-color: var(--black-color);
    background-color: var(--black-color);
    color: var(--white-color);
}

@media screen and (max-width:1199px) {
    .__whyChoose {
        padding: 60px 0;
    }

    .__whyChoose .__content h2 {
        font-size: 45px;
        line-height: 55px;
        padding-bottom: 60px;
    }

    .__whyChoose .__content h5 {
        font-size: 30px;
        line-height: 40px;
    }

    .__whyChoose .__content p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width:991px) {
    .__whyChoose .__content h2 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 40px;
    }

    .__whyChoose .__content .__primaryBtn {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:767px) {
    .__whyChoose {
        padding: 40px 0;
    }

    .__whyChoose .__content h2 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:575px) {
    .__whyChoose .__content h2 {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 15px;
    }

    .__whyChoose .__content h5 {
        font-size: 25px;
        line-height: 35px;
    }
}

/* Section No 6 End With Responsive*/

/* Section No 7 Start With Responsive*/
.__servicesImages {
    border: 2px solid var(--primary-color);
    padding: 0.8rem;
    margin: -2px -2px 0 0;
}

.__professionallyPublished {
    position: relative;
    background-image: url(../images/location/bg_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.__professionallyPublished .__content h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
    color: var(--white-color);
}

.__professionallyPublished .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--white-color);
}

@media screen and (max-width:1199px) {
    .__professionallyPublished {
        padding: 80px 0;
    }
}

@media screen and (max-width:991px) {
    .__professionallyPublished {
        padding: 60px 0;
    }

    .__professionallyPublished .__content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .__professionallyPublished .__content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:767px) {
    .__professionallyPublished {
        padding: 40px 0;
    }
}

@media screen and (max-width:575px) {
    .__professionallyPublished .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__professionallyPublished .__content p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}

/* Section No 7 End With Responsive*/

/* Section No 8 Start With Responsive*/
.__services {
    position: relative;
    background-color: #F1F1F1;
    padding: 80px 0;
}

.__services .__content h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
}

.__services .__content p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--black-color);
}

.__services .__servicesCard {
    margin-top: 50px;
    background-color: var(--darkGrey-color);
    padding: 0 15px 0;
    border: 2px solid var(--primary-color);
    min-height: 600px;
    cursor: pointer;
}

.__services .__onHover {
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
}

.__services .__onHover:hover {
    opacity: 1;
}

.__services .__servicesCard .__content h5 {
    font-size: 23px;
    line-height: 33px;
    color: var(--primary-color);
    font-weight: 700;
    padding: 20px 0 0px;
    margin: 0;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.__services .__servicesCard .__content p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: var(--black-color);
}

@media screen and (max-width:1199px) {
    .__services .__content h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .__services .__content p {
        font-size: 15px;
        line-height: 25px;
    }

    .__services .__servicesCard {
        margin-top: 40px;
        padding: 0 15px;
        min-height: 830px;
    }
}

@media screen and (max-width:991px) {
    .__services .__content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .__services .__servicesCard {
        margin-top: 40px;
        padding: 0 15px;
        min-height: 500px;
    }

    .__services {
        padding: 60px 0;
    }
}

@media screen and (max-width:767px) {
    .__services .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__services .__content p {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Section No 8 End With Responsive*/

/* Section No 9 Start With Responsive*/
.__ourPublishingProcess {
    position: relative;
    padding: 80px 0;
}

.__ourPublishingProcess .__content {
    padding-bottom: 50px;
}

.__ourPublishingProcess .__content h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: var(--primary-color);
}

.__ourPublishingProcess .__content p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--black-color);
}

@media screen and (max-width:1199px) {
    .__ourPublishingProcess .__content h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .__ourPublishingProcess .__content p {
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width:991px) {
    .__ourPublishingProcess {
        padding: 60px 0;
    }

    .__ourPublishingProcess .__content h2 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media screen and (max-width:767px) {
    .__ourPublishingProcess {
        padding: 40px 0;
    }

    .__ourPublishingProcess .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__ourPublishingProcess .__content p {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Section No 9 End With Responsive*/
.__professionallyPublished2 {
    position: relative;
    background-image: url(../images/location/bg_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.__professionallyPublished2 .__content h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
    color: var(--white-color);
}

.__professionallyPublished2 .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--white-color);
}

@media screen and (max-width:1199px) {
    .__professionallyPublished2 .__content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .__professionallyPublished2 .__content p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:991px) {
    .__professionallyPublished2 .__content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .__professionallyPublished2 .__content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:767px) {
    .__professionallyPublished2 .__content h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .__professionallyPublished2 .__content p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}

.__amazonSelfPublishing {
    background-color: #F1F1F1;
    position: relative;
    padding: 80px 0;
}

.__amazonSelfPublishing .__content h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
    color: var(--primary-color);
}

.__amazonSelfPublishing .__content p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--black-color);
}

.__amazonSelfPublishing .__content .__primaryBtn {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.__amazonSelfPublishing .__content .__primaryBtn:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.__amazonSelfPublishing .__contact-form {
    background-color: var(--white-color);
    box-shadow: 0 0 20px 1px #ddd;
    padding: 0 20px;
}

.__amazonSelfPublishing .__leadforms h4 {
    font-size: 30px;
    line-height: 40px;
    color: var(--black-color);
    font-weight: 700;
}

.__amazonSelfPublishing .__contact-form .__form-group {
    margin-bottom: 1rem;
}

.__amazonSelfPublishing .__contact-form .__themeBtn {
    width: 100%;
}

.__amazonSelfPublishing .__contact-form .__themeBtn:hover {
    background-color: var(--black-color);
    border-color: var(--black-color);
    color: var(--white-color);
}

@media screen and (max-width:1199px) {
    .__amazonSelfPublishing .__content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .__amazonSelfPublishing .__content p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .__amazonSelfPublishing .__leadforms h4 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media screen and (max-width:991px) {
    .__amazonSelfPublishing {
        padding: 60px 0;
    }

    .__amazonSelfPublishing .__content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .__amazonSelfPublishing .__content p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .__amazonSelfPublishing .__leadforms h4 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 800;
    }
}

@media screen and (max-width:767px) {
    .__amazonSelfPublishing {
        padding: 40px 0;
    }

    .__amazonSelfPublishing .__content {
        padding: 0 0 20px;
    }

    .__amazonSelfPublishing .__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .__amazonSelfPublishing .__leadforms h4 {
        font-size: 28px;
        line-height: 38px;
        font-weight: 700;
    }
}

.__contactform-bottom .form-control,
.cr-form .form-control {
    color: #414141;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.5;
    box-sizing: border-box;
    transition: .3s
}

.__contactform-bottom .form-control {
    padding: 10px 0;
    border: none;
    border-radius: 0;
    outline: 0;
    margin: 0;
    box-shadow: inherit;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #a6a6a6
}

.__contactform-bottom .form-control::placeholder {
    color: #a5a5a5
}

.__contactform-bottom select::placeholder {
    color: #838383
}

.__contactform-bottom textarea.form-control {
    height: 70px;
    resize: none;
}

.__awards .__content h4 {
    font-size: 24px;
    line-height: 34px;
    color: var(--white-color);
    font-weight: 700;
    margin-bottom: 1rem;
}


/* @media screen and (max-width:575px) {

    .__footer a,
    .__footer ul li,
    .__footer p {
        font-size: 14px;
        line-height: 24px;
    }
} */
p {
    margin-bottom: 10px !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav>.nav-link{
    color: #fff;
}

section{
    padding: 0px
}