@media only screen and (max-width: 1499px) {
    .bookMarket-sec .sliderMain .card h3 {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 22px;
    }

    .bookMarket-sec .sliderMain .card h3::after {
        bottom: -14px;
    }

    .bookMarket-sec .sliderMain .card p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1399px) {
    .lpHeader .navbar-nav {
        margin-right: 20px;
        gap: 15px;
    }

    .banner-sec {
        padding: 120px 0 110px;
    }

    .banner-sec h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .banner-sec .form .formInputs input {
        width: 155px;
    }

    .banner-sec .form .formInputs textarea {
        width: 100%;
    }

    .banner-sec .form .formInputs button {
        width: 100%;
    }

    .banner-sec .form {
        padding: 15px 25px;
    }

    .banner-sec .form p {
        margin-bottom: 2px;
    }

    .banner-sec .message {
        width: 100%;
    }

    .banner-sec .slideImage {
        width: 100%;
        padding-top: 31px;
        max-height: 100%;
    }

    .banner-sec .slideImage img {
        min-height: 607px;
    }

    .banner-sec .slideTxt {
        left: 9%;
        transform: translateX(-5%);
        padding: 5px 60px;
    }

    .market-sec .counterMain {
        gap: 0 25px;
    }

    .market-sec .counter::after {
        right: -17px;
    }

    .market-sec .counterMain h6 {
        font-size: 11px;
        line-height: 16px;
    }

    .ready-sec .secBg {
        height: auto;
        border-radius: 30px;
        padding: 30px 20px;
    }

    .ready-sec .txt {
        margin-top: 49px;
    }

    .ready-sec .secImg {
        margin-top: -22px;
    }

    .streamed-sec .left-arrow {
        width: 66%;
        left: -3px;
        bottom: 37px;
    }

    .streamed-sec .right-arrow {
        right: -5px;
        top: -7%;
        width: 66%;
    }

    .streamed-sec .card h4 {
        font-size: 42px;
    }

    .choose-sec .card p {
        padding-right: 0px;
    }
    .streamed-sec .card p {
        height: 140px;
    }
}

@media only screen and (max-width: 1299px) {
    .lpHeader .navbar-nav {
        margin-right: 10px;
        gap: 10px;
    }
}

@media only screen and (max-width: 1099px) {
    .banner-sec .slideImage {
        max-height: 100%;
    }

    .banner-sec .slideImage img {
        min-height: 100%;
    }

    .banner-sec h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .banner-sec .form {
        padding: 14px 25px;
    }

    .banner-sec .form h3 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 3px;
    }

    .banner-sec .form p {
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 20px;
    }

    .banner-sec .form .formInputs input {
        width: 100%;
    }

    .banner-sec .form .formInputs {
        gap: 0px 0px;
    }

    .banner-sec .form .formInputs textarea {
        height: 45px;
        margin-bottom: -7px;
    }

    .banner-sec .slideTxt {
        left: 11%;
    }

    .banner-sec .slideTxt p {
        font-size: 12px;
    }

    .banner-sec .name,
    .banner-sec .email,
    .banner-sec .phone,
    .banner-sec .message {
        width: 50%;
    }

    .lpHeader .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 19px;
    }

    .lpHeader .navbar-nav {
        margin-right: 31px;
        gap: 20px;
    }

    .banner-sec h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }

    .market-sec h2 {
        font-size: 25px;
        line-height: 34px;
    }

    .caseSec .borderImage {
        display: none;
    }

    .caseSec .bookImage img {
        margin-left: auto;
        margin-right: auto;
    }

    .ready-sec .txt {
        margin-top: 25px;
    }

    .ready-sec .secBg {
        height: 327px;
    }

    .ready-sec h2 {
        font-size: 35px;
        line-height: 45px;
        margin: 10px 0 10px;
    }

    .ready-sec .secImg {
        margin-top: -5px;
    }

    .smallBanner-sec p {
        width: 70%;
    }

    .smallBanner-sec .txt::after {
        display: none;
    }

    .smallBanner-sec .txt::before {
        display: none;
    }

    .workingCards {
        gap: 50px;
    }
}

@media only screen and (max-width: 991px) {
    h2 {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .lpHeader .navbar-nav {
        margin-right: 0px;
        gap: 35px;
        margin-top: 25px;
    }

    .lpHeader .navbar-collapse {
        background: black;
        padding: 10px 18px 28px;
        margin-top: 12px;
        border-radius: 11px;
    }

    .lpHeader .navbar-toggler {
        color: white;
        background-color: transparent;
        border: 2px solid white;
    }

    .lpHeader .navbar-toggler-icon {
        filter: brightness(0.5) invert(1);
    }

    .lpHeader {
        position: relative;
        z-index: 999;
        background: #134778;
    }

    .banner-sec .slideTxt p {
        font-size: 22px;
    }

    .banner-sec .txt {
        padding-top: 50px;
    }

    .banner-sec .form {
        padding: 103px 25px;
    }

    .banner-sec .image {
        width: 73%;
        margin: 36px auto 0;
    }

    .market-sec .counterMain {
        gap: 0 40px;
        margin-bottom: 40px;
    }

    .market-sec .counter::after {
        right: -50%;
    }

    .bookMarket-sec .slick-next {
        left: 45%;
    }

    .bookMarket-sec .rightArrow {
        left: 45%;
    }

    .caseSec .borderImage {
        display: none;
    }

    .caseSec .backImage {
        padding: 55px 40px 115px;
    }

    .caseSec .slick-prev {
        left: 42%;
    }

    .caseSec .rightArrow {
        left: 44%;
    }

    .ready-sec .txt {
        margin-top: 60px;
    }

    .ready-sec h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .streamed-sec .rightArrow {
        bottom: 114px;
    }

    .choose-sec .secBtns {
        justify-content: center;
        margin-top: 65px;
    }

    .choose-sec .secImg img {
        width: 100%;
    }

    .smallBanner-sec p {
        width: 100%;
    }

    .bookSeller-sec .form {
        width: 100%;
        margin-bottom: 0px;
        margin-top: 45px;
    }

    .bookSeller-sec {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 567px) {
    h2 {
        font-size: 25px !important;
        line-height: 35px !important;
    }

    .banner-sec {
        height: 100%;
        margin-top: -152px;
        padding: 195px 0 50px;
    }

    .banner-sec h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .banner-sec .image {
        margin: 60px auto 0;
    }

    .banner-sec .slideTxt p {
        font-size: 12px;
    }

    .banner-sec .slideTxt {
        left: 11%;
        padding: 5px 30px;
    }

    .banner-sec .form {
        padding: 26px 25px;
        border-radius: 17px;
    }

    .market-sec {
        padding: 50px 0;
    }

    .market-sec .counterMain {
        gap: 0px 36px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .market-sec .counter::after {
        display: none;
    }

    .market-sec h2 {
        font-size: 22px;
    }

    .market-sec a {
        width: 100%;
    }

    .market-sec .form {
        padding: 30px 27px;
    }

    .market-sec .form h4 {
        font-size: 20px;
    }

    .market-sec .form form button {
        width: 100%;
        margin: 13px auto 0px;
    }

    .bookMarket-sec {
        padding: 50px 0 105px;
    }

    .bookMarket-sec h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .bookMarket-sec .leftArrow {
        position: absolute;
        left: 58%;
        bottom: 31px;
    }

    .bookMarket-sec .rightArrow {
        bottom: 32px;
    }

    .bookMarket-sec .slick-prev {
        left: 37%;
        bottom: -66px;
    }

    .bookMarket-sec .slick-next {
        left: 59%;
        bottom: -68px;
    }


    .caseSec .backImage {
        padding: 50px 20px 115px;
    }

    .caseSec h2 {
        font-size: 30px;
    }

    .caseSec p {
        font-size: 14px;
        line-height: 23px;
    }

    .caseSec .slideTxt p {
        font-size: 13px;
        line-height: 23px;
    }

    .caseSec .slideTxt h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .caseSec .slick-prev {
        left: 34%;
        bottom: -80px;
    }

    .caseSec .rightArrow {
        left: 35%;
        bottom: 33px;
    }

    .caseSec .slick-next {
        left: 60.3%;
        bottom: -81px;
    }

    .caseSec .leftArrow {
        left: 60%;
        bottom: 33px;
    }

    .portfolio-sec {
        padding: 50px 0;
    }

    .portfolio-sec h2,
    .ready-sec h2,
    .streamed-sec h2,
    .choose-sec h2,
    .smallBanner-sec h2,
    .woking-sec h2,
    .testimonials-sec h2 {
        font-size: 30px;
        line-height: 35px;
        margin: 10px 0 7px;
    }

    .portfolio-sec p,
    .ready-sec p {
        font-size: 14px;
        line-height: 23px;
    }

    .ready-sec {
        padding: 50px 0;
    }

    .ready-sec .secBg {
        height: 100%;
        padding: 30px 24px;
    }

    .ready-sec .txt {
        margin-top: 0px;
    }

    .ready-sec p {
        padding-right: 0;
    }

    .streamed-sec {
        padding: 50px 0 40px;
    }

    .streamed-sec p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .streamed-sec .slick-prev {
        left: 29%;
    }

    .streamed-sec .rightArrow {
        bottom: 173px;
        left: 38%;
    }

    .streamed-sec .leftArrow {
        left: 54%;
        bottom: 173px;
    }


    .streamed-sec .card {
        width: 98%;
    }

    .streamed-sec .left-arrow {
        left: -9px;
    }

    .streamed-sec .card p {
        font-size: 14px;
        line-height: 22px;
    }

    .streamed-sec .right-arrow {
        right: -12px;
        top: -9%;
    }

    .choose-sec {
        padding: 50px 0;
    }

    .choose-sec p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .smallBanner-sec,
    .woking-sec,
    .bookSeller-sec {
        padding: 50px 0;
    }

    .woking-sec h2 {
        margin: 0;
    }

    .smallBanner-sec p,
    .woking-sec p {
        font-size: 14px;
        line-height: 23px;
    }

    .workingCards {
        gap: 45px 11px;
        justify-content: space-around;
    }

    .imgBox {
        width: 45%;
    }

    .testimonials-sec {
        padding: 50px 0 90px;
    }

    .testimonials-sec p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 35px;
        margin-top: 12px;
    }

    .testimonials-sec .card .clientDetails p {
        padding-top: 0;
        margin-top: 0;
    }

    .testimonials-sec .slick-prev {
        left: 33.2%;
        bottom: -68px;
    }

    .testimonials-sec .rightArrow {
        left: 40%;
        bottom: 20px;
    }

    .testimonials-sec .slick-next {
        bottom: -68px;
        left: 53.2%;
    }

    .testimonials-sec .leftArrow {
        left: 54%;
        bottom: 20px;
    }

    .bookSeller-sec h2 {
        font-size: 30px;
        line-height: 35px;
        margin: 10px 0 7px;
    }

    .bookSeller-sec p {
        font-size: 14px;
        line-height: 22px;
    }

    .bookSeller-sec .secBtns {
        margin-top: 25px;
    }

    .bookSeller-sec .form {
        padding: 30px 27px;
        border-radius: 15px;
    }

    .bookSeller-sec .form h4 {
        font-size: 20px;
    }

    .bookSeller-sec .form form button {
        width: 100%;
        margin: 13px auto 0px;
    }

    .faqs-sec {
        padding: 50px 0;
    }

    .faqs-sec h2 {
        font-size: 30px;
        line-height: 35px;
        margin: 0px 0 35px;
    }

    .faqs-sec h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .faqs-sec h3 span {
        font-weight: 600;
        font-size: 12px;
    }

    .faqs-sec .accordion-body {
        font-size: 13px;
        line-height: 24px;
    }

    .faqs .headingBglight,
    .faqs .headingBglight span {
        color: #000 !important;
    }
}